<nav>
    <ul>
        <span style="float:left; font-weight:bolder;margin-left:50px;font-size:3em;">Umiam Hostel</span>
        <li class="right button nav-li-inline" id="btn2"><i class="fa fa-solid fa-user" id="icon1"></i>
            
            <span id="name"><%= name %></span>
            <span class="ham">
                <i class="fa fa-angle-down" id="icon2"></i>
            </span>
            <ul class="nav-sub"> 
                <li class="list-item"><a href="/home" class="nav-link">Home</a></li>  
                <li class="list-item"><a href="/profile" class="nav-link"><i class="fa fa-solid fa-address-card icon"></i>Profile</a></li>
                <li class="list-item"><a href="/dues" class="nav-link">Dues</a></li>
                <li class="list-item"><a href="/viewdietcount" class="nav-link">Diet Count</a></li>
                <li class="list-item"><a href="/roomchangerequest" class="nav-link">Room Change Request</a></li>
                <li class="list-item"><a href="/logout" class="nav-link"><i class="fa-regular fa-right-from-bracket"></i>Log Out</a></li>
                <li class="list-item"><a href="/deleteaccount" class="nav-link"><i class="fa-regular fa-right-from-bracket"></i>Delete Account</a></li>  
            </ul></li>
        
    </ul>
</nav>