<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>

<body>
  <!------------------------------- data storage --------------------- -->
  <span id="datastore" data-response="<%= response %>"></span>

  <!-- forms  -->
<div id="form">
  <div class="container">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-md-8 col-md-offset-2">
      <div id="userform">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li class="active"><a href="#signup"  role="tab" data-toggle="tab">Sign up</a></li>
          <li><a href="#login"  role="tab" data-toggle="tab">Log in</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade active in" id="signup">
            <h2 class="text-uppercase text-center"> Sign Up</h2>

            <!-- --------------------------------------- signup form ---------------------------------- -->

            <form id="signup" action="/signup" method="POST">
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>First Name<span class="req">*</span> </label>
                    <input type="text" class="form-control" id="first_name" name="firstname" required data-validation-required-message="Please enter your name." autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label> Last Name<span class="req">*</span> </label>
                    <input type="text" class="form-control" id="last_name" name="lastname"  required data-validation-required-message="Please enter your name." autocomplete="off">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label> Your Email<span class="req">*</span> </label>
                <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address." autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <label> Your Phone<span class="req">*</span> </label>
                <input type="tel" class="form-control" id="phone" name="phone" required data-validation-required-message="Please enter your phone number." autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <label> Room no. <span class="req">*</span> </label>
                <input type="text" class="form-control" id="room_no" name="room" required data-validation-required-message="Please enter your room number." autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <label> Roll no. <span class="req">*</span> </label>
                <input type="text" class="form-control" id="roll_no" name="rollnumber" required data-validation-required-message="Please enter your roll number." autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <label> Password<span class="req">*</span> </label>
                <input type="password" class="form-control" id="password" name="password" minlength="5" required data-validation-required-message="Please enter your password" autocomplete="off">
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group" >
                <label> Are you HMC member ? </label>
                <input style="width:max-content; height:max-content; display: inline; margin-left:20px; border:10px solid black;" type="checkbox" class="form-control" id="hmc" name="hmc">
                <p class="help-block text-danger"></p>
              </div>
              <div class="mrgn-30-top">
                <button style="background-color: #04AA6D;" type="submit" class="btn btn-larger btn-block" >
                Sign up
                </button>
              </div>
              
            </form>
            
            <br>
          </div>




          <div class="tab-pane fade in" id="login">
            <h2 class="text-uppercase text-center"> Log in</h2>

            <!-- --------------------------------------- login form ---------------------------------- -->

            <form id="login" action="/login" method="POST">
              <div class="form-group">
                <label> Your Email<span class="req">*</span> </label>
                <input type="email" class="form-control" id="email" name="email" required data-validation-required-message="Please enter your email address." >
                <p class="help-block text-danger"></p>
              </div>
              <div class="form-group">
                <label> Password<span class="req">*</span> </label>
                <input type="password" class="form-control" id="password" name="password" required data-validation-required-message="Please enter your password" >
                <p class="help-block text-danger"></p>
              </div>
              <div class="mrgn-30-top">
                <button style="background-color: #04AA6D;" type="submit" class="btn btn-larger btn-block"/>
                Log in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- --------------------------------------- to be adjusted-------------------------------------- -->
  <h3 id="alert" 
    style="font-weight:bold;
    color:rgb(213, 92, 92);
    margin-top:20px;
    align-content: center;
    margin-bottom: 20px;
    padding-left:40%;
    align-self: center;
    align-items: center;
    ">
</h3>
  <!-- /.container --> 
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<!-- partial -->
  <script  src="./script.js"></script>

  <script>
    console.log("yes");
    function tempAlert(msg,duration)
    {
        var el = document.getElementById('alert');
        el.innerHTML = msg;
        setTimeout(function(){
            el.parentNode.removeChild(el);
        },duration);
        document.body.appendChild(el);
    }
    var res=document.getElementById('datastore').dataset.response;
    if(res !=="nothing" && res!== "" && res!="Nothing"){
      tempAlert(res,2000)
          .then((result)=>{
              console.log("done");
          })
          .catch(err=>console.log(err));
    }
  </script>

</body>
</html>
